<%- include('../headers/header_admin') %>

<article class="bg-body">
    <section class="panel-menu">
        
    </section>
</article>

<%- include('../components/alerts') %>
<%- include('../footers/footer_profile') %>